---
import ProjectCard from "./ProjectCard.astro";
import { projectData } from "../mocks/data";
---

<section
  class="w-full min-h-screen pt-20 flex flex-col items-start justify-center bg-secondary-bg border-t border-main-border p-4 md:p-10"
  id="projects"
>
  <h1
    class="text-2xl font-title font-bold tracking-wide underline underline-offset-4 mb-10"
  >
    Projects
  </h1>

  <article
    class="grid grid-cols-1 xs:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full h-full"
  >
    {
      projectData.map((item) => (
        <ProjectCard
          title={item.title}
          src={item.src}
          desc={item.desc}
          tags={item.tags}
          to={item.to}
          id={item.id}
        />
      ))
    }
  </article>
</section>
